{% extends "layout.html" %}

{% block title %}
    Report: {{section}}
{% endblock %}


{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Invoice</th>
                <th>Days</th>
                <th>Amount</th>
                <th>Payment</th>
                <th>Receivable</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
                <tr>
                    <td>{{ row[0].strftime('%d/%m/%Y') }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ day_count[row[1]] }}</td>
                    <td>{{ (row[4]) | lkr }}</td>
                    <td>{{ (row[6]+row[7]) | lkr }}</td>
                    <td>{{ (row[4]-row[6]-row[7]) | lkr }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr class="bg-info">
                <th>TOTAL</th>
                <td colspan="5"></td>
                <th>{{ total | lkr }}</th>
            </tr>
        </tfoot>
    </table>
    <button type="button" class="btn btn-outline-primary" onclick="window.print()">PRINT</button>
{% endblock %}